{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.rb",
      "options": {
        "parser": "ruby"
      }
    },
    {
      "files": "*.erb",
      "options": {
        "parser": "html"
      }
    }
  ]
}
